import("partykit", "graphics")

importFrom("grDevices",
  "gray.colors",
  "n2mfrow"
)

importFrom("stats",
  "getCall",
  "model.frame",
  "na.omit",
  "terms",
  "update"
)

importFrom("parallel",
  "mclapply"
)

export(
  ## stability assessment
  "stabletree",

  ## sampler convenience functions
  "bootstrap",
  "subsampling",
  "samplesplitting",
  "jackknife"
)

S3method("barplot", "stabletree")
S3method("image", "stabletree")
S3method("plot", "stabletree")
S3method("print", "stabletree")
S3method("summary", "stabletree")
S3method("print", "summary.stabletree")
